<div class="container">
  <nav>
    <ul class="pagination">
      <li class="page-item " [ngClass]="{disabled : currentPage === 0}"><a class="page-link" href="#"
          (click)="decrement()">Previous</a></li>

      <ng-container *ngFor="let img of images; let i =index">

        <li *ngIf="checkWindowIndex(i)" [ngClass]="{active : i === currentPage}" class="page-item">
          <a class="page-link" href="#" (click)="handleClick(i)">{{i + 1}}</a>
        </li>
      </ng-container>


      <li class="page-item" [ngClass]="{disabled: currentPage === images.length-1}"><a class="page-link" href="#"
          (click)="increment()">Next</a></li>
    </ul>
  </nav>
</div>

<div class="container">
  <h4 appClass [backgroundColor1]="'red'" appClass [backgroundColor2]="'yellow'">{{images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url" />
</div>
